/* BIJOU CSS */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

@import "variables";
@import "../vendor/bijou/scss/links";
@import "../vendor/bijou/scss/grid";
@import "../vendor/bijou/scss/typography";
@import "../vendor/bijou/scss/table";
@import "../vendor/bijou/scss/buttons";
@import "../vendor/bijou/scss/navbar";
@import "../vendor/bijou/scss/alerts";
@import "../vendor/bijou/scss/responsive";

/* mkwords */

.banner {
  text-align: center;

  button:first-child {
    margin-right: 0.2em;
  }
}

.condensed {
  width: 600px;
}

h4 > small {
  display: block;
  font-size: 0.5em;
}

.markdown {

  h1 {
    margin-top: 0.8em;
    font-size: 2.2em;
  }

  h2 {
    margin-top: 0.8em;
    font-size: 1.8em;
  }

  h3 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  h4 {
    margin-top: 0.3em;
    font-size: 1.3em;
  }

  p {
    line-height: 1.5em;
  }

  code {
    font-family: "Courier New", monospace;
    background-color: #eee;
  }

  pre {
    line-height: 1.2em;
    background-color: #eee;
  }

  ul {
    margin-top: 1.0em;
  }

  ul > li {
    line-height: 1.5em;
    margin-left: 1.5em;
  }
}

p + p {
  margin-top: 0.5em;
}

label {
  margin-right: 0.2em;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .condensed{
    width:600px;
  }
}

@media only screen and (max-width: 767px) {
  .condensed{
    width:300px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .condensed{
    width:420px;
  }
}
